name: union_shop
description: "A Flutter project for the University of Portsmouth union shop."
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0


flutter:
  uses-material-design: true
  assets:
    - assets/shirt.png
    - assets/hoodie.png
    - assets/sig_hoodie.png
    - assets/sig_shirt.png
    - assets/PortsmouthCityBookmark.png
    - assets/PortsmouthCityKeyring.png
    - assets/PortsmouthCityMagnet.png
    - assets/PortsmouthCityPostcard.png
